/**********************
*                     *
*   Tab & Accordion   *
*                     *
***********************/
.tab {
  width: 100%;
  // tab
  @include breakpoint($wideScreen) {
    float: left;
    width: auto;
  }
  &__container {
    @include clearfix();
    width: 100%;
    position: relative;
  }
  &__label {
    &--title {
      display: block;
      padding: 20px;
      background: $gray;

      color: $dark-gray;
      font-weight: bold;
      cursor: pointer;
      margin: 0 0 1px 0;
      // tab
      @include breakpoint($wideScreen) {
        margin: 0 1px 0 0;
      }
    }
  }
  &--toggle {
    position: absolute;
    opacity: 0;
    &:checked {
      + .tab__label {
        .tab__label--title {
          background: white;
          color: $light-gray;
          border-bottom: 1px solid lightgray;
          @include breakpoint($wideScreen) {
            border-bottom: 0;
          }
        }
        .tab__content {
          visibility: visible;
          position: relative;
          height: auto;
          opacity: 1;
          padding: 20px;
          // tab
          @include breakpoint($wideScreen) {
            position: absolute;
            top: 56px;
            left: 0;
          }
        }
      }
    }
  }
  &__content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 0;
    // tab
    @include breakpoint($wideScreen) {
      height: auto;
    }
  }
}
